body {
    
    margin: 0;
    padding: 10;
    font-family: roboto;
    color: black;
}
.logo {
    height: 100px;

 }
.navbar ul {
    width: 2000px;
    height: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: fixed;
    background-color: black;
}

.navbar li {
    display: flex;
    


}
.navbar a {
    text-decoration: none;
    color: #fff;
    width: 200px;
    display: flex;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
}


.drink-selection-buttons { 
    list-style-type: none ;
    border-style: double;
    border-color: goldenrod;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    height: 30px;
    margin: 100px;
    position: fixed;
    background-color: black;
}

.content-container{
    margin: 0;
    display: grid;
    font-family: sans-serif;
    padding-top: 10px;
    color: white; 
    height: 90px;
} 


.drink {
    width: 150px;
    height: 400px;
    margin: 100px;
    font-size: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: auto;
    grid-template-areas: "image" "h4" "p" "span";
    float: left;
    grid-gap: 0pt;
    padding-right: 50px;
    padding-left: 0px;
    background-color: floralwhite;
    text-align: stack;
    overflow-y: scroll;
}

.drink-image {
    grid-area: image;
    height: 195px;
    width: 200px;
    margin-left: 0px;
    margin-right: 0px;
    text-size-adjust: 80%;
    
}

.drink-h4 {
    grid-area: h4;
    color: white;
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 5px;
}

drink-p{
    grid-area: p;
    margin: 10px;
    font-size: 15pt;
    font-family: sans-serif;
    text-align: center;
    height: 60px;
    overflow-y: scroll;
}

.drink-span {
    grid-area: span;
    position: fixed;
}