body {
    display: grid;
    margin: 0;
    padding: 10;
    font-family: roboto;
    
    
    
}
.drink-selection-buttons { 
    list-style-type: none ;
    border-style: double;
    border-color: tomato;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
    margin: 0px;
}


.content-container{
    margin: 0;
    display: grid;
    font-family: sans-serif;
    padding-top: 100px;
    color: white; 
    height: 90px;
} 

.button {
    font-size: 40px;
    padding: 70px;
    transform: translate(-40%, -60%); 
    background-color: #121314;  
    color: seashell;
}


.drink {
    width: 150px;
    height: 400px;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: auto;
    grid-template-areas: "image" "h4" "p" "span";
    float: left;
    grid-gap: 0pt;
    padding-right: 50px;
    padding-left: 0px;
    background-color: floralwhite;
    text-align: stack;
    margin: 10px;
    overflow-y: scroll;
    
    
    



}
.drink-image {
    /* background-image: linear-gradient(#fff0); */
    grid-area: image;
    /* display: cover; */
    height: 150px;
    width: 200px;
    margin-left: 0px;
    margin-right: 0px;
    text-size-adjust: 80%;
    

}

.drink-h4 {
    grid-area: h4;
    color: white;
    text-align: center;
    width: 200px;
    margin: 5px;
    
    
    

}

drink-p{
    grid-area: p;
    margin: 10px;
    font-size: 15pt;
    font-family: sans-serif;
    text-align: center;
    height: 60px;
    overflow-y: scroll;
    
}
